body {
  margin: 5%; }

line {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  line-height: 0.1em;
  align-self: center; }

.Heading {
  font-family: Calibri;
  font-size: 14pt;
  font-weight: bold;
  border-bottom-style: double; }

.TableHeading {
  font-family: "Times New Roman", Times, serif; }

.HeadingLeft {
  font-family: Garamond;
  font-size: 26pt;
  border-bottom-style: none;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  vertical-align: bottom;
  text-align: left;
  white-space: normal; }

.HeavyRule {
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: #000;
  font-family: Calibri;
  font-weight: bold;
  font-size: 12pt; }

.Skills {
  font-family: Calibri;
  font-size: 12pt; }

.JobHeader {
  font-family: Calibri;
  font-size: 12pt;
  font-weight: bold; }

.Schooling {
  font-family: Calibri;
  font-size: 12pt;
  list-style-image: none;
  list-style-type: none;
  list-style-position: outside; }

.RightHeading {
  text-align: right; }

.RightHeading {
  font-family: Garamond;
  font-weight: bold;
  font-size: 12pt; }

.skillSection {
  display: flex;
  flex-direction: row; }

.mastery {
  width: 100%;
  float: left;
  text-align: left;
  position: relative; }

.mastery ul {
  padding: 0px;
  margin: 20px 0 0 0; }

.mastery ul li {
  list-style-type: none;
  text-align: right;
  height: 17px;
  margin: 0 10px 0 0;
  padding-right: 10px;
  font-style: italic;
  font-family: Georgia;
  font-weight: bold;
  font-size: 11px;
  background: url("/images/about/dash.jpg") no-repeat 100% 50%; }

figure {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start; }
  figure .skill {
    width: "5.26316%"; }
  figure .graph-header {
    position: absolute;
    top: 73px;
    height: 18px;
    left: 0px;
    right: 0px; }
  figure p {
    position: absolute;
    top: 75px;
    width: 100%;
    text-align: center;
    font-family: Calibri;
    color: #fff;
    font-size: 12px;
    z-index: 100;
    padding: 0px;
    margin: 0px; }
  figure .bar {
    height: 81px;
    width: 8px;
    background: url("bar.svg") no-repeat;
    background-origin: content-box;
    font-size: 11px;
    z-index: 300;
    margin-bottom: 25px; }
  figure .frontend {
    display: flex;
    margin-top: 25px;
    font-size: 12px;
    position: relative; }
    figure .frontend .graph-header {
      background-color: #444444; }
    figure .frontend .bar {
      width: "20%"; }
  figure .programming {
    display: flex;
    margin-top: 25px;
    font-size: 12px;
    position: relative; }
    figure .programming .graph-header {
      background-color: #888888; }
    figure .programming .bar {
      width: "14.28571%"; }
  figure .technical {
    display: flex;
    margin-top: 25px;
    font-size: 12px;
    position: relative; }
    figure .technical .graph-header {
      background-color: #444444; }
    figure .technical .bar {
      width: "14.28571%"; }
  figure .beginner {
    padding-top: 52px;
    background-size: 8px 19px; }
  figure .intermediate {
    padding-top: 35px;
    background-size: 8px 36px; }
  figure .advanced {
    padding-top: 18px;
    background-size: 8px 53px; }
  figure .expert {
    padding-top: 1px;
    background-size: 8px 70px; }
  figure label {
    display: inline-block;
    transform: rotate(-75deg);
    white-space: nowrap;
    font-family: Calibri;
    align-self: flex-end;
    font-size: 10pt; }
