body {
  margin: 5%; }

.Heading {
  font-family: Calibri;
  font-size: 14pt;
  font-weight: bold;
  border-bottom-style: double; }

.TableHeading {
  font-family: "Times New Roman", Times, serif; }

.HeadingLeft {
  font-family: Garamond;
  font-size: 26pt;
  border-bottom-style: none;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  vertical-align: bottom;
  text-align: left;
  white-space: normal; }

.HeavyRule {
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: #000;
  font-family: Calibri;
  font-weight: bold;
  font-size: 12pt; }

.Skills {
  font-family: Calibri;
  font-size: 12pt; }

.JobHeader {
  font-family: Calibri;
  font-size: 12pt;
  font-weight: bold; }

.Schooling {
  font-family: Calibri;
  font-size: 12pt;
  list-style-image: none;
  list-style-type: none;
  list-style-position: outside; }

.RightHeading {
  text-align: right; }

.RightHeading {
  font-family: Garamond;
  font-weight: bold;
  font-size: 12pt; }

.skillSection {
  display: flex;
  flex-direction: row;
  justify-content: center; }

line {
  width: 100%;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3); }

.gridLine {
  width: auto;
  left: 20px;
  right: 0;
  padding-top: 10px;
  position: absolute; }

.mastery {
  width: 100%;
  float: left; }

.mastery ul {
  padding: 0px;
  margin: 20px 0 0 0; }

.mastery ul li {
  list-style-type: none;
  text-align: right;
  height: 17px;
  font-style: italic;
  font-family: Georgia;
  font-weight: bold;
  font-size: 11px; }
  .mastery ul li.like {
    background: url("like.svg") no-repeat; }
  .mastery ul li.dislike {
    background: url("dislike.svg") no-repeat; }

.graph {
  display: flex;
  position: relative; }

.grid {
  width: 0px;
  padding: 0px; }

.grid li {
  list-style-type: none;
  height: 17px; }

figure {
  display: flex;
  position: relative; }
  figure .skill {
    display: flex;
    width: 50px;
    flex-direction: column; }
  figure .graph-header {
    position: absolute;
    top: 73px;
    height: 18px;
    left: 0px;
    right: 0px; }
  figure p {
    position: absolute;
    top: 75px;
    width: 100%;
    text-align: center;
    font-family: Calibri;
    color: #fff;
    font-size: 12px;
    z-index: 100;
    padding: 0px;
    margin: 0px; }
  figure .bar {
    bottom: 72;
    display: flex;
    align-self: flex-end;
    width: 8px;
    background: url("bar.svg") no-repeat;
    background-origin: content-box;
    font-size: 11px;
    z-index: 300;
    margin-bottom: 40px; }
  figure .frontend {
    display: flex;
    margin-top: 25px;
    font-size: 12px;
    position: relative;
    margin-left: -20px;
    padding-left: 6px;
    padding-right: 30px; }
    figure .frontend .graph-header {
      margin-left: 40px;
      background-color: #444444; }
  figure .programming {
    display: flex;
    margin-top: 25px;
    font-size: 12px;
    position: relative;
    padding-right: 30px; }
    figure .programming .graph-header {
      background-color: #888888; }
  figure .technical {
    display: flex;
    margin-top: 25px;
    font-size: 12px;
    position: relative;
    padding-right: 6px; }
    figure .technical .graph-header {
      background-color: #444444; }
  figure .beginner {
    height: 19px;
    padding-top: 50px;
    background: url("beginner.svg") no-repeat; }
    figure .beginner.like {
      background: url("beginnerFill.svg") no-repeat; }
  figure .intermediate {
    height: 36px;
    padding-top: 33px;
    background: url("intermediate.svg") no-repeat; }
    figure .intermediate.like {
      background: url("intermediateFill.svg") no-repeat; }
  figure .advanced {
    height: 53px;
    padding-top: 16px;
    background: url("advanced.svg") no-repeat; }
    figure .advanced.like {
      background: url("advancedFill.svg") no-repeat; }
  figure .expert {
    height: 70px;
    padding-top: -1px;
    background: url("expert.svg") no-repeat; }
    figure .expert.like {
      background: url("expertFill.svg") no-repeat; }
  figure label {
    height: 110px;
    width: 100px;
    text-align: right;
    transform: rotate(-50deg);
    white-space: nowrap;
    font-family: Calibri;
    font-size: 10pt; }
