$barHeight: 81px;
$barWidth: 8px;
$bottomBuffer: 12px;
$headerHeight: 18px;
$masterySpacing: 17px;
$labelSpacing: 20px;

$expertHeight: 70px;
$advancedHeight:        $expertHeight - $masterySpacing;
$intermediateHeight:    $advancedHeight - $masterySpacing;
$beginnerHeight:        $intermediateHeight - $masterySpacing;

// TODO: I have no idea why this 9px matter to gridlines, but doesn't affect bars...
$beginnerPostion: $barHeight - $beginnerHeight - $bottomBuffer + 9px;
$intermediatePostion: $barHeight - $intermediateHeight - $bottomBuffer + 9px;
$advancedPostion: $barHeight - $advancedHeight - $bottomBuffer + 9px;
$expertPostion: $barHeight - $expertHeight - $bottomBuffer + 9px;

body {
    margin: 5%;
}

.section {
    font-family: Calibri;
    font-size: 14pt;
    font-weight: bold;
    border-bottom-style: double;
}

.heading {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #000;
    font-family: Calibri;
    font-weight: bold;
    font-size: 12pt;

    .left {
        align-self: flex-end;
        flex-grow: 1;
        font-family: Garamond;
        font-size: 26pt;
        border-bottom-style: none;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        vertical-align: bottom;
        text-align: left;
        white-space: normal;
        padding-bottom: 4px;
    }

    .right {
        text-align: right;
        font-family: Garamond;
        font-weight: bold;
        font-size: 12pt;
    }

    .details {
        padding-bottom: 4px;
    }
    
    .links {
        padding-left: 10px;
    }
    
}

.accomplishment {
    font-family: Calibri;
    font-size: 12pt;
}

.job {
    font-family: Calibri;
    font-size: 12pt;
    font-weight: bold;
}

.skillSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

// @media (max-width: 991px) {
//     .skills ul li {
//         font-size: 10px;
//     }
// }

// @media (max-width: 767px) {
//     figure {
//         flex-direction: column;
//     }
// }

// @media (max-width: 767px) {
//     figure>div {
//         height: auto;
//         width: 100%;
//     }
// }

figure {
    @mixin skillGroup {
        display: flex;
        margin-top: 25px;
        font-size: 12px;
        position: relative;
    }

    display: flex;
    position: relative;

    .mastery {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 20px;
        width: 100%;
        float: left;

        .grid {
            height: 17px;
        }

        .gridLine {
            display: flex;
            width: auto;
            left: 10px;
            right: 0;
            position: absolute;
            border-bottom: 1px dotted rgba(0, 0, 0, 0.3); 
        }
    
        & .beginner {
            padding-top: $beginnerPostion;
        }

        & .intermediate {
            padding-top: $intermediatePostion;
        }

        & .advanced {
            padding-top: $advancedPostion;
        }

        & .expert {
            padding-top: $expertPostion;
        }
    
        label {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            font-style: italic;
            font-family: Georgia;
            font-weight: bold;
            font-size: 11px;
        }

        .legend {
            display: flex;
            flex-direction: row;
            align-items: center;
        
            .like {
                background: url("res/like.svg") no-repeat;
                height: 32px;
                width: 32px;
                margin: 4px;
            }
            .dislike {
                background: url("res/dislike.svg") no-repeat;
                height: 32px;
                width: 32px;
                margin: 4px;
            }
        }
    }

    .skill {
        display: flex;
        width: 50px;
        flex-direction: column;
    }

    .graph-header {
        position: absolute;
        top: 73px;
        height: $headerHeight;
        left: 0px;
        right: 0px;
    }

    .graph {
        display: flex;
        position: relative;

        label {
            height: 110px;
            width: 100px;
            text-align: right;
            transform: rotate(-50deg);
            white-space: nowrap;
            font-family: Calibri;
            font-size: 10pt;
        }

        .chart {
            display: flex;
            margin-left: 10px;
            background: linear-gradient( 
                transparent 5%,
                #bbb 6%, transparent 6%,
                transparent 30%,
                #bbb 31%, transparent 31%,
                transparent 55%,
                #bbb 56%, transparent 56%,
                transparent 80%,
                #bbb 81%, transparent 81%);
            p {
                position: absolute;
                top: 75px;
                width: 100%;
                text-align: center;
                font-family: Calibri;
                color: #fff;
                font-size: 12px;
                z-index: 100;
                padding: 0px;
                margin: 0px;
            }
                   
            .frontend {
                @include skillGroup;
                & .graph-header {
                    background-color: #444444;
                }
                padding-left: 6px;
                padding-right: 30px;
            }
            
            .programming {
                @include skillGroup;
                & .graph-header {
                    background-color: #888888;
                }
                padding-right: 30px;
            }
            
            .technical {
                @include skillGroup;
                & .graph-header {
                    background-color: #444444;
                }
                padding-right: 6px;
            }

            .bar {
                bottom: 72;
                display: flex;
                align-self: flex-end;
                width: $barWidth;
                background-origin: content-box;
                z-index: 300;
                margin-bottom: 40px;

                &.beginner {
                    height: $beginnerHeight;
                    padding-top: $beginnerPostion;
                    background: url("res/beginner.svg") no-repeat;
                    &.like {
                        background: url("res/beginnerBlack.svg") no-repeat;
                    }
                    &.dislike {
                        background: url("res/beginnerGray.svg") no-repeat;
                    }
                }
                
                &.intermediate {
                    height: $intermediateHeight;
                    padding-top: $intermediatePostion;
                    background: url("res/intermediate.svg") no-repeat;
                    &.like {
                        background: url("res/intermediateBlack.svg") no-repeat;
                    }
                    &.dislike {
                        background: url("res/intermediateGray.svg") no-repeat;
                    }
                }
                
                &.advanced {
                    height: $advancedHeight;
                    padding-top: $advancedPostion;
                    background: url("res/advanced.svg") no-repeat;
                    &.like {
                        background: url("res/advancedBlack.svg") no-repeat;
                    }
                    &.dislike {
                        background: url("res/advancedGray.svg") no-repeat;
                    }
                }
                
                &.expert {
                    height: $expertHeight;
                    padding-top: $expertPostion;
                    background: url("res/expert.svg") no-repeat;
                    &.like {
                        background: url("res/expertBlack.svg") no-repeat;
                    }
                    &.dislike {
                        background: url("res/expertGray.svg") no-repeat;
                    }
                }
            }
        }
    }
}