$barHeight: 81px;
$barWidth: 8px;
$bottomBuffer: 12px;
$headerHeight: 18px;
$masterySpacing: 17px;

$expertHeight: 70px;
$advancedHeight:        $expertHeight - $masterySpacing;
$intermediateHeight:    $advancedHeight - $masterySpacing;
$beginnerHeight:        $intermediateHeight - $masterySpacing;

body {
    margin: 5%;
}

.Heading {
    font-family: Calibri;
    font-size: 14pt;
    font-weight: bold;
    border-bottom-style: double;
}

.TableHeading {
    font-family: "Times New Roman", Times, serif;
}

.HeadingLeft {
    font-family: Garamond;
    font-size: 26pt;
    border-bottom-style: none;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    vertical-align: bottom;
    text-align: left;
    white-space: normal;
}

.HeavyRule {
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #000;
    font-family: Calibri;
    font-weight: bold;
    font-size: 12pt;
}

.Skills {
    font-family: Calibri;
    font-size: 12pt;
}

.JobHeader {
    font-family: Calibri;
    font-size: 12pt;
    font-weight: bold;
}

.Schooling {
    font-family: Calibri;
    font-size: 12pt;
    list-style-image: none;
    list-style-type: none;
    list-style-position: outside;
}

.RightHeading {
    text-align: right;
}

.RightHeading {
    font-family: Garamond;
    font-weight: bold;
    font-size: 12pt;
}

.skillSection {
    display: flex;
    flex-direction: row;
}

line {
    width: 100px; 
    flex-grow: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); 
    line-height: 0.1em;
    align-self: center;
}

.mastery {
    width: 100%;
    float: left;
    text-align: left;
    position: relative;
}

.mastery ul {
    padding: 0px;
    margin: 20px 0 0 0;
}

.mastery ul li {
    list-style-type: none;
    text-align: right;
    height: 17px;
    font-style: italic;
    font-family: Georgia;
    font-weight: bold;
    font-size: 11px;
    background: url("/images/about/dash.jpg") no-repeat 100% 50%;
}

// @media (max-width: 991px) {
//     .skills ul li {
//         font-size: 10px;
//     }
// }

// @media (max-width: 767px) {
//     figure {
//         flex-direction: column;
//     }
// }

// @media (max-width: 767px) {
//     figure>div {
//         height: auto;
//         width: 100%;
//     }
// }

figure {
    @mixin skillGroup {
        display: flex;
        margin-top: 25px;
        font-size: 12px;
        position: relative;
    }

    // margin: 0px auto;
    display: flex;
    // justify-content: center;
    // flex-wrap: nowrap;
    // align-content: center;
    // align-items: flex-start;

    .skill {
        display: flex;
        width: 50px;
        flex-direction: column;
    }

    .graph-header {
        position: absolute;
        top: 73px;
        height: $headerHeight;
        left: 0px;
        right: 0px;
    }

    p {
        position: absolute;
        top: 75px;
        width: 100%;
        text-align: center;
        font-family: Calibri;
        color: #fff;
        font-size: 12px;
        z-index: 100;
        padding: 0px;
        margin: 0px;
    }

    .bar {
        display: flex;
        align-self: flex-end;
        width: $barWidth;
        background: url("bar.svg") no-repeat;
        background-origin: content-box;
        font-size: 11px;
        z-index: 300;
        margin-bottom: 40px;
        // margin-right: 10px;
    }
    
    .frontend {
        @include skillGroup;
        & .graph-header {
            margin-left: 40px;
            background-color: #444444;
        }
        padding-right: 16px;
    }
    
    .programming {
        @include skillGroup;
        & .graph-header {
            background-color: #888888;
        }
        padding-right: 16px;
    }
    
    .technical {
        @include skillGroup;
        & .graph-header {
            background-color: #444444;
        }
    }

    .beginner {
        height: $beginnerHeight;
        padding-top: $barHeight - $beginnerHeight - $bottomBuffer;
        background-size: $barWidth $beginnerHeight;
    }
    
    .intermediate {
        height: $intermediateHeight;
        padding-top: $barHeight - $intermediateHeight - $bottomBuffer;
        background-size: $barWidth $intermediateHeight;
    }
    
    .advanced {
        height: $advancedHeight;
        padding-top: $barHeight - $advancedHeight - $bottomBuffer;
        background-size: $barWidth $advancedHeight;
    }
    
    .expert {
        height: $expertHeight;
        padding-top: $barHeight - $expertHeight - $bottomBuffer;
        background-size: $barWidth $expertHeight;
    }

    & label {
        height: 110px;
        width: 100px;
        text-align: right;
        transform: rotate(-50deg);
        // transform-origin: 50% 100%;
        white-space: nowrap;
        font-family: Calibri;
        font-size: 10pt;
    }
}