$barHeight: 81px;
$barWidth: 8px;
$bottomBuffer: 12px;
$headerHeight: 18px;
$masterySpacing: 17px;
$labelSpacing: 20px;

$expertHeight: 70px;
$advancedHeight:        $expertHeight - $masterySpacing;
$intermediateHeight:    $advancedHeight - $masterySpacing;
$beginnerHeight:        $intermediateHeight - $masterySpacing;

// TODO: I have no idea why this 9px matter to gridlines, but doesn't affect bars...
$beginnerPostion: $barHeight - $beginnerHeight - $bottomBuffer + 9px;
$intermediatePostion: $barHeight - $intermediateHeight - $bottomBuffer + 9px;
$advancedPostion: $barHeight - $advancedHeight - $bottomBuffer + 9px;
$expertPostion: $barHeight - $expertHeight - $bottomBuffer + 9px;

// Enable printing images so the chart prints reasonably
* {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
}

body {
    margin: 3% auto;
    max-width: 1080px;
}

.section {
    font-family: Calibri;
    font-size: 14pt;
    font-weight: bold;
    border-bottom-style: double;
}



.heading {
    display: grid;

    font-family: Garamond;  
    font-weight: bold;
    font-size: 12pt;

    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 4px;

    padding-bottom: 4px;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #000;

    .left {
        align-self: flex-end;
        grid-row: 1/-1;
        font-size: 26pt;
        text-align: left;
        white-space: normal;
    }

    .details {
        text-align: right;

        &.print {
            display: none;
        }

        @media print {
            &.links {
                display: none;
            }
            &.print {
                display: flex;
                flex-direction: column;
            }
        }
    }
     
    .link {
        padding-left: 10px;
    }
    
}

.accomplishment {
    font-family: Calibri;
    font-size: 12pt;
}

.job {
    font-family: Calibri;
    font-size: 12pt;
    font-weight: bold;
}

.skillSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about {
    margin: 20px 10%;
    font-family: Calibri;
    font-size: 12pt;
}

figure {
    @mixin skillGroup {
        display: flex;
        margin-top: 10px;
        font-size: 12px;
        position: relative;
    }

    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    .mastery {
        background: white;
        list-style-type: none;
        margin: 0;
        margin-top: 6px;
        padding: 0;
        padding-right: 10px;
   
        li {
            height: $masterySpacing;
            font-style: italic;
            font-family: Georgia;
            font-weight: bold;
            font-size: 11px;
            text-align: right;

            &.grid::after {
                content: "";
                left: 50px; // This ensures the line hides under, there must be a better way
                right: 0;
                position: absolute;
                margin-top: 7px;
                border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
                z-index: -1;
            }
        }

        .legend {
            display: flex;
            flex-direction: row;
            height: 32px;

            .like {
                background: url("res/like.svg") no-repeat;
                height: 32px;
                width: 32px;
                margin: 4px;
            }
            .dislike {
                background: url("res/dislike.svg") no-repeat;
                height: 32px;
                width: 32px;
                margin: 4px;
            }
        }
    }

    .graph-header {
        position: absolute;
        top: 73px;
        height: $headerHeight;
        left: 0px;
        right: 0px;
    }

    .chart {
        display: flex;

        p {
            position: absolute;
            top: 75px;
            width: 100%;
            text-align: center;
            font-family: Calibri;
            color: #fff;
            font-size: 12px;
            z-index: 100;
            padding: 0px;
            margin: 0px;
        }

        .skill {   
            width: 32px;
    
            label {
                display: block;
                width: 0px;     // By letting is overflow we can center the label
                direction: rtl;
                margin: 0 auto;
                transform: rotate(-50deg);
                white-space: nowrap;
                font-family: Calibri;
                font-size: 10pt;
            }
    
            .bar {
                bottom: 72;
                margin: auto;
                width: $barWidth;
                background-origin: content-box;
                z-index: 300;
                margin-bottom: 12px;
    
                &.beginner {
                    height: $beginnerHeight;
                    padding-top: $beginnerPostion;
                    background: url("res/beginner.svg") no-repeat;
                    &.like {
                        background: url("res/beginnerBlack.svg") no-repeat;
                    }
                    &.dislike {
                        background: url("res/beginnerGray.svg") no-repeat;
                    }
                }
                
                &.intermediate {
                    height: $intermediateHeight;
                    padding-top: $intermediatePostion;
                    background: url("res/intermediate.svg") no-repeat;
                    &.like {
                        background: url("res/intermediateBlack.svg") no-repeat;
                    }
                    &.dislike {
                        background: url("res/intermediateGray.svg") no-repeat;
                    }
                }
                
                &.advanced {
                    height: $advancedHeight;
                    padding-top: $advancedPostion;
                    background: url("res/advanced.svg") no-repeat;
                    &.like {
                        background: url("res/advancedBlack.svg") no-repeat;
                    }
                    &.dislike {
                        background: url("res/advancedGray.svg") no-repeat;
                    }
                }
                
                &.expert {
                    height: $expertHeight;
                    padding-top: $expertPostion;
                    background: url("res/expert.svg") no-repeat;
                    &.like {
                        background: url("res/expertBlack.svg") no-repeat;
                    }
                    &.dislike {
                        background: url("res/expertGray.svg") no-repeat;
                    }
                }
            }
        }
                
        .frontend {
            @include skillGroup;
            & .graph-header {
                background-color: #444444;
            }
        }
        
        .programming {
            @include skillGroup;
            & .graph-header {
                background-color: #757575;
            }
        }
        
        .technical {
            @include skillGroup;
            & .graph-header {
                background-color: #444444;
            }
        }
    }
}